body{
    font-family: 'Inter', sans-serif;    
    display: grid;
    grid-template-rows: 50px auto auto;
    grid-template-areas: "header" "main_content" "footer";
    background-color: rgb(245, 237, 225);
    gap: 10px;
}

header{
    font-family: 'Lexend', sans-serif;
    grid-area: header;
    justify-self: center;
}

#footer{
    grid-area: footer;
}

.main{
    grid-area: main_content;
    grid-template-columns: 1fr 1fr; 
    grid-template-areas: "main_map content"; 
    display: grid;
}    


#contents{
    grid-area: content; 
    display: grid;
    grid-template-rows: 1fr 3fr; 
    grid-template-areas: "buttonHome" "survey"
}

#the_map{
    height:80vh;
    grid-area: main_map;
}

button{
    font-family: 'Inter', sans-serif;
    background-color: #efa890;
    border-radius: 12px;
    border-width: 0;
    color: #333333;
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    list-style: none;
    margin: 8px;
    padding: 10px 12px;
    text-align: center;
    vertical-align: baseline;
}

button:hover {
    background-color: #935449; 
    color: rgb(255, 255, 255);
  }

button:focus{
    background-color:#935449;
    color: #F7F6F3;
}

#theSurvey{
    grid-area: survey;
}

#placeForButtons{
    grid-area: buttonHome;
    display:grid;
    grid-template-columns: repeat(2,1fr)
}