img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width:20%;
    /* border-radius:50%;  */
}

body{
    font-family: 'Poppins', sans-serif;
    margin-top: 25px;
    margin-bottom: 100px;
    margin-right: 150px;
    margin-left: 80px;
    display: grid;
    /* grid-template-columns: 1fr;  */
    grid-auto-rows: auto 1fr;
    grid-template-areas: "header" "main_content" "footer";
    background-color: rgb(252, 250, 239);
    /* height: 100vh; */
}

header h1{
    text-align: center;

}

#footer{
    grid-area: footer;
}

.main{
    grid-area: main_content;
    grid-template-areas: "content" "main_map";
    display: grid;
}

#contents{
    grid-area: content;
}

#the_map{
    height:80vh;
    grid-area: main_map;
}